html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    white-space: nowrap;
    margin-left: 1rem;
  }
  h2 {
    margin-left: 1rem;
  }
  p {
    margin-left: 1rem;
  }
  /* make images flexible */
  img {
    max-width: 100%;
  }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid #d98555;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  @media (min-width: 768px) {
    nav ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }
    .logo {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .menu1 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .menu2 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .menu3 {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }
  @media (min-width: 992px) {
      nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
      }
      nav .logo img {
        max-width: 200px;
        display: flex;
        flex-flow:row wrap;
        justify-content: left;
        padding: 1rem 0 0 1rem;
      }
  }
  /* navbar styling */
  nav ul {
    margin-top: auto;
    list-style-type: none;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
  }
  nav li {
    margin: 0rem 1rem 1rem 1rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  /* establishes a white background */
  .main-bkgd {
    background: #ffffff url("../media/images/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
    padding-top: 10px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    .main {
      max-width: 100%;
      margin: 0;
      padding: 2rem 2rem 2rem 2rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  @media (min-width: 992px) {
      .main {
        max-width: 100%;
        margin: 0;
        padding: 2rem 3rem 2rem 2rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }
    }
  @media (min-width: 768px) {
        .products-grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          margin: 3rem;
        }
      }
  @media (min-width: 992px) {
        .products-grid-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          column-gap: 1rem;
          row-gap: 1rem;
          margin: 3rem;
        }
      }
  article {
    flex-basis: 100%;
    margin: 0 1rem 0 1rem;
  }
  picture {
    padding-top: 5rem;
    flex-basis: 100%;
  }
  @media (min-width: 768px) {
    picture {
    padding: 5rem 0 0 2rem;
    max-width: 100%;
  }
}
  img {
    border-radius: 1rem;
    max-width: 100%;
  }
  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }